<div class="row columns bio">

	<p>
	<%= @athlete.weight %> lbs
	| Class of <%= @athlete.year %> </p>
	<div class="row">
		<span class="medium-4 columns">Home State</span>
		<span class="medium-8 columns">&nbsp;<%= link_to athlete.state, athletes_path(q: {state_cont: athlete.state})  %></span> 
	</div>
	<div class="row">
		<span class="medium-4 columns">School</span>
		<span class="medium-8 columns">&nbsp;<%= link_to athlete.school, athletes_path(q: {school_cont: athlete.school})  %></span> 
	</div>
	<div class="row">
		<span class="medium-4 columns">Status</span>
		<span class="medium-8 columns">&nbsp;<%= link_to "Status designation here", "#" %></span> 
	</div>
</div>
